<h1> Welcome to Community</h1>


<% @posts.each do |post| %>
  <div>
    <%= post.title %>
    <%= post.description %>
    <% if post.user.present? %>
      <small> -<%= post.user.email%></small>
    <% end %>
  </div> 

<% end %>