<h1 class='text-center'>Welcome to Community</h1>
<div class='booyah-box'>
  <% @posts.each do |post| %>
    <p>
      <%= link_to post.title, subcommunity_post_path(@subcom, post) %>
      <% if post.user.present? %>
        <small> -<%= post.user.email%></small>
      <% end %>
    </p>
    <hr />
  <% end %>
</div>