<div class='booyah-box container'>
<br />
<h1 class='text-center'>Check out the cool Subcommunities</h1>
<br />
  <% @subcom.each do |sub| %>
    <div class='booyah-box'>
      <h2><%=link_to sub.title, subcommunity_path(sub) %></h2>
      <h3><%=sub.slogan%></h3>
      <% if current_user && current_user == sub.user %>
      <%= link_to 'Edit', edit_subcommunity_path(sub), class: 'btn btn-primary' %>
      <%= link_to 'Destroy', subcommunity_path(sub), method: :delete, data: { confirm: "Are you sure you want to delete"} , class: 'btn btn-danger' %>
      <% end %>
    </div>
  <% end %>
</div>
