<div class="booyah-box">
  <h2 class='text-center'>Create a New Post</h2>
    <%= simple_form_for @post, url: subcommunity_posts_path(@subcom) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.submit 'Create', class: 'btn btn-success' %>
  <% end %>
</div>