<h1>Create a New Post</h1>

  <%= simple_form_for @post, url: subcommunity_posts_path(@subcom) do |f| %>

    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.submit 'Create', class: 'btn btn-success' %>


  <% end %>